* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    /* background: linear-gradient(13deg, #9f53e0, #4a02da); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg.png);
}

.main-container {
    width: 85%;
    height: 80vh;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

/* Left Section */
.left-section {
    flex: 1;
    padding: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-title {
    font-size: 40px;
    margin-bottom: 20px;
}
/*  */
.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ems-logo {
    width: 35px;
    height: 35px;
    object-fit: contain;
}
/*  */

.left-section h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.left-section p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.9;
}

/* Right Login Card */
.login-card {
    flex: 1;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-card h3 {
    
    font-size: 25px;
    color: white;
    margin-bottom: 5px;
    
}

.sub-text {
    color: #ddd;
    font-size: 14px;
    margin-bottom: 25px;
}

/* Inputs */
.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

button:hover {
    background: #222;
}

/* Register Link */
.register-text {
    margin-top: 15px;
    color: white;
    font-size: 14px;
}

.register-text a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.register-text a:hover {
    color: white;
    text-decoration: underline;
}

/* Error Message */
#errorMsg {
    margin-top: 10px;
    color: red;
    font-size: 13px;
}
